<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.material.naveen.materialdesigntutorial.mdt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.SplashActivity"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.HomeActivity"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.ThemeActivity"
            android:label="Themes"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.ThemeTry"
            android:label="Try it out"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.ToolApp"
            android:label="Toolbar/Appbar"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.Card"
            android:label="CardView"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.CardTry"
            android:label="Try it out"
            android:theme="@style/home" />
        <activity
            android:name=".activities.basics.Recycle"
            android:label="RecyclerView"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.NavigationView"
            android:label="Navigation View"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.TextInputL"
            android:label="TextInputLayout"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.FAB"
            android:label="FAB"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.Snackbar"
            android:label="SnackBar"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.TabL"
            android:label="Tab Layout"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.CoordinateLayout"
            android:label="Coordinate Layout"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.Collapsing"
            android:label="CollapsingToolbar Layout"
            android:theme="@style/home" />
        <activity
            android:name=".activities.colors.Colors"
            android:label="Colors"
            android:theme="@style/home" />
        <activity
            android:name=".activities.colors.ColorsRed"
            android:label="Red"
            android:theme="@style/red" />
        <activity
            android:name=".activities.colors.ColorsPink"
            android:label="Pink"
            android:theme="@style/pink" />
        <activity
            android:name=".activities.colors.ColorsPurple"
            android:label="Purple"
            android:theme="@style/purple" />
        <activity
            android:name=".activities.colors.ColorsDeepPurple"
            android:label="Deep Purple"
            android:theme="@style/deeppurple" />
        <activity
            android:name=".activities.colors.ColorsIndigo"
            android:label="Indigo"
            android:theme="@style/indigo" />
        <activity
            android:name=".activities.colors.ColorsBlue"
            android:label="Blue"
            android:theme="@style/blue" />
        <activity
            android:name=".activities.colors.ColorsLightBlue"
            android:label="Light Blue"
            android:theme="@style/lightblue" />
        <activity
            android:name=".activities.colors.ColorsCyan"
            android:label="Cyan"
            android:theme="@style/cyan" />
        <activity
            android:name=".activities.colors.ColorsTeal"
            android:label="Teal"
            android:theme="@style/teal" />
        <activity
            android:name=".activities.colors.ColorsGreen"
            android:label="Green"
            android:theme="@style/green" />
        <activity
            android:name=".activities.colors.ColorsLightGreen"
            android:label="Light Green"
            android:theme="@style/lightgreen" />
        <activity
            android:name=".activities.colors.ColorsLlime"
            android:label="Lime"
            android:theme="@style/lime" />
        <activity
            android:name=".activities.colors.ColorsYellow"
            android:label="Yellow"
            android:theme="@style/yellow" />
        <activity
            android:name=".activities.colors.ColorsAmber"
            android:label="Amber"
            android:theme="@style/amber" />
        <activity
            android:name=".activities.colors.ColorsOrange"
            android:label="Orange"
            android:theme="@style/orange" />
        <activity
            android:name=".activities.colors.ColorsDeepOrange"
            android:label="Deep Orange"
            android:theme="@style/deeporange" />
        <activity
            android:name=".activities.colors.ColorsBrown"
            android:label="Brown"
            android:theme="@style/brown" />
        <activity
            android:name=".activities.colors.ColorsGrey"
            android:label="Grey"
            android:theme="@style/grey" />
        <activity
            android:name=".activities.colors.ColorsBlueGray"
            android:label="Blue Grey"
            android:theme="@style/bluegrey" />
        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.About"
            android:label="About"
            android:screenOrientation="portrait"
            android:theme="@style/home" />
        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.Dependencies"
            android:label="Dependencies"
            android:theme="@style/home" />

        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.VideoPlayer"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activities.designsupport.BottomSheets"
            android:label="Bottom Sheets"
            android:screenOrientation="portrait"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.CustomChromeTabs"
            android:label="Custom Tabs"
            android:screenOrientation="portrait"
            android:theme="@style/home" />
        <activity
            android:name=".activities.designsupport.BottomNavigation"
            android:label="Bottom Navigation View"
            android:screenOrientation="portrait"
            android:theme="@style/home" />
        <activity
            android:name="com.material.naveen.materialdesigntutorial.mdt.activities.Suggestion"
            android:label="Suggestion"
            android:screenOrientation="portrait"
            android:theme="@style/home" />
    </application>

</manifest>
